*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes grande{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.2,1.2);
    }
    100%{
        transform: scale(1,1);
    }
}

@keyframes grandeRotado{
    0%{
        
        transform: scale(1,1);
        transform: rotate(50deg);
        
    }
    50%{
        transform: rotate(95deg);
        transform: scale(1.2,1.2);
        
    }
    100%{
        /* transform: rotate(50deg); */
        transform: scale(1,1);
        transform: rotate(50deg);
        
    }

    /* transform: rotate(50deg); */
}


body{
    background: #212326;
    color: #fff;
}

header h1{
    font-family: 'Livvic', sans-serif;
    color: #fff;
    width: 95%;
    margin: 20px auto;
    margin-top: 0;
    padding: 10px;
    text-align: center;
    border-bottom: 1.9px solid rgb(45, 137, 243);
}

.main .titulosP{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.main .titulosP p{
    display: inline;
    font-size: 19px;
    text-align: center;
    font-family: 'Livvic', sans-serif;
    /* margin-left: 100px; */
}

.main .bloques{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 5px auto;
}

.main .bloques .bloqueUno,
.main .bloques .bloqueDos{
    display: flex;
    align-items: center; 
}

.main .bloques  .bloqueUno .bloque,
.main .bloques  .bloqueDos .bloque{
    border: 5px solid rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 80px 0;
    background: rgba(231, 12, 12, 0);
} 

.main .bloques  .bloqueUno .bloque div{
    transform: translate(170px,-23px);
    transition-duration: 1s;
    /* background: #fff;
    color: black;
    display: inline;
    padding: 3px;
    border-radius: 2px; */
}

.main .bloques  .bloqueUno .pru,
.main .bloques  .bloqueDos .pru{
    margin: 0 20px;
    font-size: 50px;
    color: rgb(45, 137, 243);
    animation-name: grande;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.main .bloques .dosflechas{
    display: flex;
    flex-direction: column;
    width: 50px;
    font-size: 50px;
    margin: 0 20px;
    color: rgb(45, 137, 243);
    animation-name: grande;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.main .bloques .dosflechas .pro{
    margin-bottom: 20px;
}

.main .arriba{
    font-size: 50px;
    position: relative;
    left: 38%;
    margin-top: 40px;
    color: rgb(45, 137, 243);
    animation-name: grande;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.main .rotado{
    font-size: 50px;
    position: relative;
    color: rgb(45, 137, 243);
    left: 50%;
    margin-top: 40px;
    
    animation-name: grandeRotado;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: rotate(50deg); */
}

.main .bloques2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 5px auto;
   
}

.main .bloques2 .botones p{
    display: inline;
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
}

.main .bloques2 .botones p input{
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
}

.main .bloques2 .botones .buttons{
    display: flex;
    justify-content:space-between ;
}

.main .bloques2 .botones .buttons button{
    background: rgb(13, 89, 189);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
    width: 48%;
    font-family: 'Livvic', sans-serif;
    font-size: 17px;
    color: #fff;
}

.main .bloques2 .botones .buttons button:hover{
    background: rgb(91, 151, 230);
    transform: scale(1.045);
}

.main .bloques2 .botones .buttons .btnOne{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main .bloques2 .botones .buttons .btnTwo{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main .bloques2 .bloqueUltimo{
    margin: 35px 45px;
}

.main .bloques2 .bloqueUltimo .bloque{
    border: 5px solid rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 80px 0;
    background: rgba(255, 255, 255, 0);
}

.main .bloques2 .bloqueUltimo .hidden{
    background: rgba(231, 12, 12, 0);
    border: 10px solid rgba(7, 7, 7, 0);
}